* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(https://images5.alphacoders.com/711/711093.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color:#181818;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #090057;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #181818;
    text-decoration: none;
    text-align: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color:#f9004d;
    transition: .3s;
}

.btn {
    background-color: #181818;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 25px; 
    transition: transform .4s;
}

.btn:hover {
    transform: scale(0.8);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: #181818;
    margin: 20px 0px 20px;
    font-size: 56px;
}

h3 {
    color: #181818;
    font-size: 20px;
    margin-bottom: 50px;
}

h4 {
    color: #181818;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #181818;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #181818;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 5px;
    right: 6px;
}

.about {
    width:100%;
    padding: 100px 0px;
    background: linear-gradient(#050505, #FF87B2, #FCF8E8);
}

.about img {
    height: auto;
    width: 430px;
    filter: brightness(1.2);
    border: 3px solid #181818;
    border-radius: 20px;
      box-shadow: 0px 0px 5px #000, 0px 0px 15px #fff;
}

.about-text {
    width: 550px;
}

.main {
    width: 1138px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 35px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.but {
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

.playlist {
    background:linear-gradient(#FCF8E8 ,#7A86B6);
    width: 100%;
    padding-top: 100px;

}

.title h2 {
    color: #050505;
    font-size: 65px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.box img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.card {
    height: 400px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    width: 1130px;
    margin: 25px 0px;
}

h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
    margin-top: -30px;
}

.pra a {
    text-decoration: none;
    color: #050505;
    width:300px;
}

.pra p {
    color: #fff;
}

.button2 {
    background-color: #fff;
    color: #050505;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 25px; 
}

.confess {
    position: column;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    margin-top: 50px ;
    width: 100%;
    height: 200px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.confess p:nth-child(1) {
    font-size: 19px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.confess .end {
    position: flex;
    color: #fff;
    bottom: 35px;
    font-size: 14px;
}

/* @media all and (max-width: 500px) {
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .hero .img {
        width: 1px;
        height: 100vh;
    }

    .logo {
        top: 0;
        left: 0;
        color: #FF87B2; */
